.table {
    border-spacing: 0;
    margin: 10px;
    background-color: rgb(241, 250, 238);
}

.table-header {
    text-align: left;
    background-color: rgb(69, 123, 157);
    color: rgb(241, 250, 238);
}

.table-row:nth-child(even) {
    background-color: rgb(168, 218, 220);
}

.table td, .table th {
    padding: 8px;
}