.form {
    display: grid;
    grid-template-areas: 
    '. title .'
    '. body .';
    margin: 2%;
}

.form-title {
    grid-area: title;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 1%;
    background-color: dodgerblue;
    color: ghostwhite;
    border-radius: 10px 10px 0px 0px;
}

form {
    grid-area: body;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding: 1%;
    background-color: lightblue;
    border-radius: 0px 0px 10px 10px;
    display: grid;
}

.form-field {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}

input, select, textarea {
    width: 80%;
    
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;

    align-self: center;
}

label {
    margin-left: 10%;
}

