/* Background from: https://unsplash.com/photos/h9eV8vEwl-A */

body {
    background: url('/static/img/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}


main {
    display: grid;
    background-color: ghostwhite;
    margin: 2%;
    border-radius: 10px;
}

.flashes {
    background-color: mediumspringgreen;
    color: darkgreen;
    text-align: center;
    margin: 0;
    padding: 10px;
}

button {
    background-color: darkblue;
    color: ghostwhite;
    margin: 0% 25% 3% 25%;
}
.delete-button {
    background-color: darkred;
    margin: 0;
}