/* Background from: https://unsplash.com/photos/h9eV8vEwl-A */

body {
    background: url('/static/img/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    color: rgb(29, 53, 87);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: grid;
    background-color: ghostwhite;
    margin: 2%;
    border-radius: 10px;
}

.section-header {
    margin: 10px;
}

#club-name {
    background-color: rgb(69, 123, 157);
    color: rgb(241, 250, 238);
    padding: 10px;
    margin: 0;
    border-radius: 10px 10px 0 0;
}

/* Flash messages */
.flashes .success {
    background-color: mediumspringgreen;
    color: darkgreen;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.flashes .full {
    background-color: rgb(230, 57, 70);
    color: rgb(241, 250, 238);
    text-align: center;
    margin: 0;
    padding: 10px;
}

/* Buttons and links */
button {
    background-color: rgb(29, 53, 87);
    color: ghostwhite;
    margin: 0% 25% 3% 25%;
    border: none;
    padding: 5px;
}
.delete-button {
    background-color: rgb(230, 57, 70);
    margin: 0;
}

a {
    color: rgb(230, 57, 70);
}
