{% extends "base.html" %}

{% block content %}
    <h3>Upcoming Classes</h3>
    <a href="/workouts/new">New Class</a>

    {% for workout in workouts %}
        <div class="workout">
            <div class="workout-description">
                <a class="workout-name" href="/workouts/{{workout.id}}">{{ workout.name }}</a>
                <span class="category">Category: {{ workout.category }}</span>
            </div>
            <div class="workout-timing">
                <span class="workout-date">{{ workout.date }}</span>
                <span class="workout-time">{{ workout.start_time }}</span>
            </div>
            <div class="workout-edit">
                <a href="/workouts/{{workout.id}}/edit">Edit Class</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}