{% extends "base.html" %}

{% block content %}
<div class="form">
    <h3 class="form-title">Create New Class</h3>

    <form action="/workouts" method="post">
        <div class="form-field">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" placeholder="Name" required autofocus>
        </div>
        <div class="form-field">
        <label for="category">Category:</label><br>
        <select id="category" name="category">
                <option value="freestyle">Freestyle</option>
                <option value="classic">Classic</option>
                <option value="sprint">Sprint</option>
                <option value="distance">Distance</option>
        </select>
        </div>
        <div class="form-field">
            <label for="upcoming"> Upcoming?</label><br>
            <select id="upcoming" name="upcoming">
                <option value="true">Yes</option>
                <option value="false">No</option>
        </select>
        </div>
        <div class="form-field">
            <label for="date">Date:</label><br>
            <input type="date" id="date" name="date" required autofocus>
        </div>
        <div class="form-field">
            <label for="start_time">Start time:</label><br>
            <input type="time" id="start_time" name="start_time" required autofocus>
        </div>
        <div class="form-field">
            <label for="capacity">Class capacity:</label><br>
            <input type="number" id="capacity" name="capacity" placeholder="e.g. 5" required autofocus>
        </div>
        <button type="submit">Add Class</button>
    </form>
</div>
{% endblock %}