{% extends "base.html" %}

{% block content %}
    <h3>Create New Class</h3>

    <form action="/workouts" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Name" required autofocus>
        </div>
        <div>
        <label for="category">Category:</label>
        <select id="category" name="category">
                <option value="freestyle">Freestyle</option>
                <option value="classic">Classic</option>
                <option value="sprint">Sprint</option>
                <option value="distance">Distance</option>
        </select>
        </div>
        <div>
            <label for="upcoming"> Upcoming?</label>
            <select id="upcoming" name="upcoming">
                <option value="true">Yes</option>
                <option value="false">No</option>
        </select>
        </div>
        <div>
            <label for="date">Date:</label>
            <input type="text" id="date" name="date" placeholder="dd/mm/yyyy" required autofocus>
        </div>
        <div>
            <label for="start_time">Start time:</label>
            <input type="text" id="start_time" name="start_time" placeholder="hh:mm" required autofocus>
        </div>
        <button type="submit">Add Class</button>
    </form>
{% endblock %}