{% extends "base.html" %}

{% block content %}
    <h3>Club Members</h3>
    <a href="/members/new">Add New Member</a>

    <div class="member-container">
        {% for member in members %}
            <div class="member">
                <div class="member-name">
                    <a href="/members/{{member.id}}"> {{ member.full_name() }}</a>
                </div>
                <div class="member-details">
                    <span>{{ member.age }}</span>
                    <span>{{ member.gender}} </span>
                </div>
                <div class="member-edit">
                    <a href="/members/{{member.id}}/edit">Edit Member</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}