{% extends "base.html" %}

{% block content %}
    <h3>Bookings</h3>
    <a href="/bookings/new">New Booking</a>

    <table class="table">
        <thead class="table-header">
            <tr>
                <th>Booking Reference</th>
                <th>Member</th>
                <th>Class Name</th>
                <th>Class Category</th>
                <th>Class Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr class="table-row">
                <td>{{ booking.id }}</td>
                <td>{{ booking.member.full_name() }}</td>
                <td>{{ booking.workout.name }}</td>
                <td>{{ booking.workout.category }}</td>
                <td>{{ booking.workout.date_time() }}</td>
                <td>
                    <form action="/bookings/{{ booking.id }}/delete" method="POST">
                        <button class="delete-button" type="submit">Delete Booking</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
    </table>
{% endblock %}