{% extends "base.html" %}

{% block content %}
<div id="dashboard-container">
    <div class="workouts">
        <h3>Upcoming Classes</h3>
        <a href="/workouts/new">New Class</a>
    
        <div class="workout-container">
            {% for workout in workouts %}
                <div class="workout">
                    <div class="workout-name">
                        <a class="workout-name" href="/workouts/{{workout.id}}">{{ workout.name }}</a>
                        <span class="capacity">Capacity: {{ workout.booked }}/{{ workout.capacity }}</span>
                    </div>
                    <div class="workout-details">
                        <span class="workout-date">{{ workout.date_time() }}</span>
                        <span class="category">Category: {{ workout.category }}</span>
                        {% if workout.check_upcoming() == True %}
                            <span class="upcoming">Upcoming Class</span>
                        {% else %}
                            <span class="upcoming">Past Class</span>
                        {% endif %}
                    </div>
                    <div class="workout-edit">
                        <a href="/workouts/{{workout.id}}/edit">Edit Class</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="pictures">
        <h3>Recent Class Photos</h3>
        <div class="image-container">
            <div id="image-1" class="image-item">
                <h4>Classic</h4>
            </div>
            <div id="image-2" class="image-item">
                <h4>Skating</h4>
            </div>
            <div id="image-3" class="image-item">
                <h4>Sprint</h4>
            </div>
        </div>
    </div>

    <div class="bookings">
        <h3>Bookings</h3>
    <a href="/bookings/new">New Booking</a>

    <table class="table">
        <thead class="table-header">
            <tr>
                <th>Booking Reference</th>
                <th>Member</th>
                <th>Class Name</th>
                <th>Class Category</th>
                <th>Class Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr class="table-row">
                <td>{{ booking.id }}</td>
                <td>{{ booking.member.full_name() }}</td>
                <td>{{ booking.workout.name }}</td>
                <td>{{ booking.workout.category }}</td>
                <td>{{ booking.workout.date_time() }}</td>
                <td>
                    <form action="/bookings/{{ booking.id }}/delete" method="POST">
                        <button class="delete-button" type="submit">Delete Booking</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
    </table>
    </div>
</div>
{% endblock %}